<footer>
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="img-responsive" src="img/logo-footer.png" alt="">
                    <p class="gray-aaa mt-20">Eaque ipsa quae ab illo inventore veris quasi architecto beatae vitae dicta expenim ipsam voluptatem.</p>
                    <div class="footer-social list-inline mt-25">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3" >
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">useful links</h6>
                    <ul class="list-unstyled useful-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Meet The Team</a></li>
                        <li><a href="#">Volunteers</a></li>
                        <li><a href="#">Service Provided</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">Donations</h6>
                    <ul class="list-unstyled useful-links">
                        <li><a href="#">How to Donate</a></li>
                        <li><a href="#">Donation List</a></li>
                        <li><a href="#">Recent Causes</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <a href="#" class="f-donate text-uppercase martel text-bold mt-30">Donate now!</a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">keep in touch</h6>
                    <span class="ubuntu fz-14 gray-aaa display-block mt-30 lh-24">Address : 44 New Design Street, Melbourne 005</span>
                    <span class="ubuntu fz-14 gray-aaa display-block lh-24">Phone : (01) 800 433 633</span>
                    <span class="ubuntu fz-14 gray-aaa display-block lh-24">Email : info@Example.com</span>
                    <form class="mt-50" action="#">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Email Address">
                          <div class="input-group-addon"><a href="#"><img src="img/submit.png" alt=""></a></div>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-d-v clearfix">
                        <div class="pull-left">
                            <h5 class="fz-18 text-bold">Help & Support Now</h5>
                            <span class="fz-14 ubuntu gray-777 display-block mt-15">Might as well say Would you Could be you be mine? </span>
                        </div>
                        <div class="pull-right mt-6">
                            <a class="btn-prime tri-b text-uppercase" href="#">donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                        <div class="footer-d-v clearfix">
                            <div class="pull-left">
                                <h5 class="fz-18 text-bold">Join As Volunteer</h5>
                                <span class="fz-14 ubuntu gray-777 display-block mt-15">Might as well say Would you Could be you be mine? </span>
                            </div>
                            <div class="pull-right mt-6">
                                <a class="btn-prime tri-b text-uppercase" href="#">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="ubuntu fz-12 text-uppercase text-medium">Copyright © 2015 Aideo All Rights Reserved.</span>
                </div>
            </div>
        </div>

    </div>
</footer>