{% load static %}
<header>
<!--     <div class="top-bar gray-f5f5-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="list-inline top-nav">
                        <li><a href="#" class="text-uppercase">About</a>|</li>
                        <li><a href="#" class="text-uppercase">Service</a>|</li>
                        <li><a href="team.html" class="text-uppercase">OUR TEAM</a></li>
                    </ul>
                </div>
                <div class="col-md-3 top-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-search"></a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-5 text-center logo">
                <img class="img-responsive" src="{% static 'main/img/logo.png' %}" alt="">
            </div>
            <div class="col-md-7">
                <div class="top-contact-details">
                    <div class="row mt-20">
                        <div class="col-md-4">
                            <div class="clearfix border-r">
                                <img class="img-responsive pull-left t-contact-img" src="{% static 'main/img/call.png' %}" alt="">
                                <div class="t-contact-info ubuntu pull-left">
                                    <span class="fz-14 gray-999">Call Now </span>
                                    <span class="fz-13">+ 91 9687204072 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="clearfix border-r">
                                <img class="img-responsive pull-left t-contact-img" src="{% static 'main/img/email.png' %}" alt="">
                                <div class="t-contact-info ubuntu pull-left">
                                    <span class="fz-14 gray-999">Email us</span>
                                    <span class="fz-13">rotract.gandhidham@gmail.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a class="martel text-uppercase" href="#">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="main-nav mt-20">
            <div class="container">
                <div class="col-md-offset-5 col-md-7">
                    <nav class="navbar navbar-default">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse no-margin no-padding">
                                <ul class="nav navbar-nav">
                                  <li class="active"><a href="index.html">Home</a></li>
                                  <li><a class="" href="causes.html">CAuses</a></li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <!-- <li><a href="events.html">Events</a></li> -->
                                      <!-- <li><a href="events-detail.html">Events Detail</a></li> -->
                                    </ul>
                                  </li>
                                  <!-- <li><a class="" href="#">Shop </a></li> -->
                                  <li><a class="" href="gallery.html">Gallery</a></li>
                                  <li class="dropdown">
                                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog  <span class="caret"></span></a> -->
                                    <ul class="dropdown-menu">
                                      <!-- <li><a href="blog.html">Blog</a></li> -->
                                      <!-- <li><a href="blog-single.html">Blog Single</a></li> -->
                                    </ul>
                                  </li>
                                 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="about.html">About Us</a></li>
                                      <!-- <li><a href="404.html">404 Page</a></li> -->
                                    </ul>
                                  </li>
                                  <li><a class="green-nav" href="contact.html">Contact</a></li>
                                </ul>
                          </div><!--/.nav-collapse -->
                    </nav>
                </div>
            </div>
        </div>
</header>